jspm-packages-home main h1 {
  text-align: center;
  font-size: var(--step-3);
}

jspm-packages-home jspm-packages-header header {
  justify-content: center;
}

jspm-packages-home jspm-packages-search input[type="search"]{
  padding: var(--dl-space-space-halfunit) 20px var(--dl-space-space-halfunit) 30px;
  font-size: var(--step--2);
}

jspm-packages-home main {
  margin-top: 50px;
}

.jspm-features {
  font-family: "Roboto" sans-serif;
  padding: 16px 24px;
  border-radius: 8px;
  background-color: var(--dl-color-jspm-300);
  list-style: none;
}

.jspm-features li {
  margin-top: 5px;
  display: flex;
  line-height: 35px;
  align-items: center;
}
