jspm-packages-search-result article {
  margin-bottom: 20px;
}

jspm-packages-search-result article header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

jspm-packages-search-result h4 {
  margin: 0;
}

jspm-packages-hero jspm-packages-package-title {
  display: flex;
  align-content: center;
  gap: 10px;
  margin: 15px 0;
  align-items: stretch;
  flex-direction: column;
}

jspm-packages-package-links ul {
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 10px 0;
  padding: 0;
  align-items: center;
  gap: 20px;
}

jspm-packages-package-highlights ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 10px 0;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-size: var(--step--2);
  border-top: 1px solid;
  border-bottom: 1px solid;
}

jspm-packages-package-highlights ul li + li:before {
  content: "|";
  margin-right: 10px;
}

jspm-packages-search-results nav[aria-label="pagination"] ol {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 10px 0;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}
