jspm-packages-search-result article {
  margin-top: 10px;
}

jspm-packages-search-result article header {
  display: flex;
  flex-wrap: wrap;
}

jspm-packages-search-result h4 {
  margin: 0;
  font-family: monospace;
  font-size: 22px;
  font-weight: 400;
}

jspm-packages-search-result p {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
}


jspm-packages-hero jspm-packages-package-title {
  display: flex;
  align-content: center;
  gap: 10px;
  margin: 15px 0;
  align-items: stretch;
  flex-direction: column;
}

jspm-packages-package-links ul {
  display: flex;
  list-style: none;
  margin: 10px 0;
  padding: 0;
  align-items: center;
  gap: 20px;
}

jspm-packages-package-highlights ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0px 0px 10px 0px;
  gap: 10px;
  flex-wrap: wrap;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
}

jspm-packages-package-highlights ul li + li:before {
  content: "|";
  margin-right: 10px;
}

jspm-packages-search-results nav[aria-label="pagination"] ol {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 10px 0;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  align-content: center;
}

.search-results-wrapper {
  max-width: 1024px;
  margin: auto;
}
